<form method="POST" action="/articles">

<label for="title">Title:</lable>
<input type="text" name="title" id="title"><br>

<label for="content">Content:</lable>
<input type="text" name="content" id="content"><br>

<input type="submit" id="submit">

</form>